// Flexbox parent used to horizontally center the card 
// and add negative space from the top
.flex-parent{
    display: flex;
    align-content: center;
    padding-top: 40px;
};

.card{
    width: 270px;
    height: 380px;
    background: #FFFFFF;
    border: 1px solid #E1E2E3;
    box-sizing: border-box;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.154693);
    border-radius: 3px;
    margin: auto;           // Custom addition for centering on page
};

.thumbnail{
    max-width: 269px;
    max-height: 208px;
    border-radius: 3px 3px 0px 0px;
};

.accent{
    background-color: #F55423;
    position: absolute;
    width: 269px;
    height: 3px;
};

// Apply consistent padding to all text elements in card
.text-container{
    padding-left: 25px;
    padding-top: 21px;
    padding-right: 29px;
};

.date{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #9B9B9B;
    margin: 0px;            // Override default margins to match the design comp
    font-weight: 700;
};

.headline{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;        // Override default margins to match the design comp
    margin-bottom: 15px;    // Override default margins to match the design comp
};

.blurb{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4A4A4A;
    margin-top: 0px;        // Override default margins to match the design comp
    margin-bottom: 15px;    // Override default margins to match the design comp
    font-weight: 400;
};

// Flex container to align icon and link
.flex-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 103px;
    flex-wrap: wrap;
};

.link{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    color: #F55423;
    text-decoration: none;  // Remove the default link underline to match design comp
    font-weight: 700;
};

.material-icons{
    width: 7.35px;
    height: 7.35px;
    color: #F55423;
    // Below attributes override default material icon stylings
    // from Google to match design comp
    font-weight: 700 !important;
    font-size: 10px !important;
    line-height: 0.70 !important;
};
